div.Board {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  max-width: 500px;
  margin: 25px auto;
  overflow: hidden;
  border: solid 1px black;
  > div:nth-child(1) {
    > div:nth-child(odd) {
      background-color: #b6b6b6;
    }
    > div:nth-child(even) {
      background-color: #4b4b4b;
    }
  }
  > div:nth-child(2) {
    text-align: right;
    > div:nth-child(even) {
      background-color: #b6b6b6;
    }
    > div:nth-child(odd) {
      background-color: #4b4b4b;
    }
  }
  > div > div {
    padding: 10px 5px;
    cursor: pointer;
    > span {
      color: white;
      font-size: 0.5em;
    }
  }
}
